@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

:root {
    --bleu_noir: #092d44;
    --bleu_cerulean: #27708c;
    --bleu_claire: #309fb8;
    --bleu_ciel: #2597cb;
    --jaune_orange: #f2bb18;
    --blanc: #ffffff;
    --gris: #e6e6e6;

}

li {
    list-style: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--bleu_cerulean)
}

a:hover {
    color: var(--jaune_orange);
    transition: 0.3s;
}

h2 {
    color: var(--bleu_cerulean);
    font-size: 30px;
}

h3 {
    color: var(--bleu_cerulean);
}


.bnt_jaune {
    width: fit-content;
    height: fit-content;
    background-color: var(--jaune_orange);
    padding: 10px;
    border-radius: 8px;
}

.bnt_jaune:hover {
    color: var(--blanc);
    background-color: var(--bleu_claire);
    cursor: pointer;
}

.bnt_bleu {
    color: var(--blanc);
    width: fit-content;
    height: fit-content;
    background-color: var(--bleu_claire);
    padding: 10px;
    border-radius: 8px;
}

.bnt_bleu:hover {
    color: var(--bleu_cerulean);
    background-color: var(--jaune_orange);
    cursor: pointer;
}

/*-------------------------------------------------------------------------HEADER IMAGE----------------------------------------------------------------------------------*/

.img_header {
    width: 100%;
    max-height: 160vh;
    overflow: hidden;
}

.img_header>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.slogan {
    color: var(--blanc);
    width: fit-content;
    position: absolute;
    top: 30%;
    left: 80px;
    border-radius: 10px;
    padding: 0px 0px 0px 70px;
}

.slogan>h2 {
    color: var(--blanc);
    font-size: 50px;
}

.slogan>p {
    font-size: 40px;
}

.slogan>a {
    font-size: 25px;
}


/*----------------------------------------------------- detail ----------------------------------------------------------*/


.atelier-detail{
    margin: 20vh ;
}

